@using pax.blazor.survey.Services
@using pax.blazor.survey.Models
@using pax.blazor.survey.Components
@inject DbService _db
@inject ReloadService _reload
@implements IDisposable


@if (Survey.ShowProgress)
{
    <ProgressComponent @ref="ProgressComponent"></ProgressComponent>
}

<h4>@Survey.Title</h4>
<div class="jumbotron pt-2 pb-2">@Survey.Description</div>
<br />
<EditForm EditContext="editContext" OnValidSubmit="@( async () => HandleValidSubmit() )" OnInvalidSubmit="@( async () => HandleInvalidSubmit() )">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <CascadingValue Value="editContext" Name="Context1">
        <CascadingValue Value="Survey" Name="Survey1">
            <CascadingValue Value="User" Name="User1">
                @foreach (Question question in Survey.Questions.OrderBy(o => o.Pos))
                {
                    <div class="card mb-1">
                        <div class="card-header">
                            <h5>@question.Interview</h5>
                        </div>
                        <div class="card-body">
                            @if (question.Type == (int)QuestionType.Text)
                            {
                                <AnswerTextComponent Question="question"></AnswerTextComponent>
                            }
                            else if (question.Type == (int)QuestionType.LongText)
                            {
                                <AnswerLongTextComponent Question="question"></AnswerLongTextComponent>
                            }
                            else if (question.Type == (int)QuestionType.Bool)
                            {
                                <AnswerBoolComponent Question="question"></AnswerBoolComponent>
                            }
                            else if (question.Type == (int)QuestionType.SingleSelect)
                            {
                                <AnswerSingleSelectComponent Question="question"></AnswerSingleSelectComponent>
                            }
                            else if (question.Type == (int)QuestionType.MultiSelect)
                            {
                                <AnswerMultiSelectComponent Question="question"></AnswerMultiSelectComponent>
                            }
                        </div>
                    </div>
                }
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public Survey Survey { get; set; }

    [Parameter]
    public User User { get; set; }

    [Parameter]
    public bool isPreview { get; set; } = false;

    private EditContext editContext;
    ProgressComponent ProgressComponent;

    float progress = 0;

    protected override void OnParametersSet()
    {
        if (Survey != null)
        {
            editContext = new EditContext(Survey);
            editContext.OnFieldChanged += HandleFieldChange;
        }
    }

    public void Update()
    {
        StateHasChanged();
    }

    void HandleFieldChange(object sender, FieldChangedEventArgs e)
    {
        if (e.FieldIdentifier.FieldName == "Feedback")
        {
            Response response = e.FieldIdentifier.Model as Response;
            response.Pos = 1;
        }
        else if (e.FieldIdentifier.FieldName == "Selected")
        {
            Answer answer = e.FieldIdentifier.Model as Answer;
            answer.Response.Pos = 1;
        }

        if (Survey.ShowProgress)
        {
            float done = User.Responses.Where(x => x.Pos > 0).Count();
            progress = (float)done * 100f / Survey.Questions.Count;
            ProgressComponent.Update(progress);
        }

        _reload.SetUser(User);
    }

    private async Task HandleValidSubmit()
    {
        if (isPreview == false)
        {
            bool success = await _db.SaveUserAsync(User, Survey);
        }
    }

    private async Task HandleInvalidSubmit()
    {

    }

    public void Dispose()
    {
        editContext.OnFieldChanged -= HandleFieldChange;
    }
}
